<div class="col-md-12">
    <ol class="breadcrumb">
        <li class="active">INSIST-RPC管理后台</li>
    </ol>
</div>
<div class="col-md-12">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#dev" data-env="dev" data-toggle="tab">
                服务者列表
            </a>
        </li>
        <li>
            <a href="#sit" data-env="sit" data-toggle="tab">
                消费者列表
            </a>
        </li>
    </ul>
</div>